.content a {
    opacity: 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.content .active {
    opacity: 1;
}

a{
    text-decoration: none;
}

.divs{
    display: none;
    margin-left: 100px;
    max-width: 250px;
    margin-top: -90px;
    border-radius: 5px;
    text-align: center;
}
